<%= f.input :name, label: "Attribute Layer Name" %>

<%= f.simple_fields_for :palette_attributes do |attr_form| %>
	<%= render 'palette_attribute_fields', f: attr_form %>
<% end %>

<div><%= link_to_add_fields "Add Attribute", f, :palette_attributes %></div><br>
