      <h4>Product Category</h4>
      <%= f.select :product_category_id, ProductCategory.all.map { |r| [r.name, r.id] }, include_blank: true  %>  </br> or </br> 
      <%= link_to 'Create New Category', new_product_category_path %>